.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
.reviewText {
  color: var(--Text, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.reviewerAvatar {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background: var(--Badges, #f2f4f7);
  color: var(--Button, #e44848);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.reviewerInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.reviewerName {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
