.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.optionItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.optionText {
  font-size: 16px;
}
